# Written by the first-boot setup wizard; machine-specific and, in the case
# of etc/shadow, contains passwords. Never commit these.
etc/.installed
etc/shadow
etc/group
etc/hosts
etc/locale.conf
etc/timezone
etc/vconsole.conf
var/log/
var/lib/pacman/sync/
# sysupdate's local state, backups and download staging area
var/lib/sysupdate/
var/cache/
ocelot-desktop-v1.14.2.jar